title: Dixi Wang
description: Visiting Assistant Professor
theme: minima
markdown: kramdown
kramdown:
  math_engine: mathjax
  input: GFM
header_pages: [teaching.md, publications.md, away-from-math.md]
