<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets.css" | relative_url }}">
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="wrap">
  <header>
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    <nav>
  {% for path in site.header_pages %}
    {% assign p = site.pages | where: "path", path | first %}
    {% if p %}
      <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
    {% endif %}
  {% endfor %}
    </nav>


  </header>
  <main>{{ content }}</main>
  
</body>
</html>
